@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Anton|Dancing+Script|Josefin+Sans|Lobster|Rubik&display=swap');

body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body::after {
	background-image: url("./back.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	content: "";
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-height: 100%;
	opacity: 0.5;
	z-index: -1;
	overflow: hidden;
}

/* contents Setting */

.container {
	position: relative;
	z-index: 2;
	overflow: hidden;
	width: 80%;
	margin: 50px auto;
}

img {
	height: 50px;
	float: left;

}

header {
	position: fixed;
	display: inline-block;
	width: 100%;
	top: 0;
	left: 0;
	background-color: white;
	text-align: center;
	z-index: 3;

}
.glow {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bolder;
	text-align: center;
	font-size: 50pt;
	margin-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
	color: #fff;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}

	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}

.box {
	width: 35%;
	margin: 0 auto;
}

form {
	display: inline-block;
	width: 80%;
	line-height: 1.5em;
	margin: 100px;
	font-family: 'Rubik', sans-serif;
	text-align: center;
	font-size: 12pt;
}

fieldset {
	background-color: white;
	opacity: 0.8;
	margin: 0 auto;
	z-index: 1;
}

legend {
	font-family: 'Dancing Script', cursive;
	font-size: 40pt;
	font-weight: bold;
	margin-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

table {
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15pt;
	z-index: 2;
}

table td {
	text-align: justify;
	padding: 15px;
	font-weight: bold;
}

input[type=number],
input[type=text],
input[type=date],
input[type=email],
input[type=tel] {
	width: 20em;
	border: 1px solid black;
}

#button{
	text-align: center;
	padding-top: 50px;
} 
