@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Anton|Dancing+Script|Josefin+Sans|Lobster|Rubik&display=swap');

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body::after {
    background-image: url("./photo_archives/canadian_rockies/COLOURBOX21458237.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    z-index: -1;
    overflow: hidden;
}

h1,
h2 {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 40pt;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-size: 25pt;
    font-family: 'Anton', sans-serif;
}

#top {
    width: 80%;
    border: 1px solid black;
    margin: 100px auto;
}

.middle {
    width: 50%;
    border: 1px dotted blue;
    margin: 30px auto;
}

img {
    width: 200px;

}

#container {
    position: relative;
    width: 80%;
    margin: 100px auto;
    z-index: 1;
}

.paragraph {
    margin-bottom: 100px;
    width: 100%;
    height: 100%;
    column-count: 2;
    column-gap: 60px;
    column-rule: 1px dotted blue;
}

.para {
    font-size: 13pt;
    line-height: 150%;
    text-align: justify;
    font-family: 'Rubik', sans-serif;
    text-indent: 50px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.para::first-letter {
    font-size: 30pt;
    color: red;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

figure {
    float: left;
    width: 200px;
    height: 100%;
    text-align: justify;
    font-style: italic;
    text-indent: 0;
    margin: 0.5em;
    padding: 0.5em;
    margin-right: 50px;
    transition: transform ease-in-out 2s;
}

figure:hover {
    transform: scale(1.25);
}

figcaption {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}